<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">people</i>
                      </div>
                      <p class="card-category">Vos parties prenantes</p>
                      <h3 class="card-title">50
                          <small></small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Vos activités</p>
                      <h3 class="card-title">02 formelles</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Fixed Issues</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter-x"></i>
                      </div>
                      <p class="card-category">Votre entreprise</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="bg-blue mb-20">
        <div class="container w-auto lg:max-w-7xl mx-5 lg:mx-auto text-white grid lg:grid-cols-3 gap-x-5 items-center pt-10 pb-7 lg:pt-20 lg:pb-14">
            <div class="mb-5 col-span-2">
                <h1 class="font-bold">Plateforme de mise en relation des Prestataires économiques.</h1>
                <div class="text-4xl lg:text-5xl font-bold my-5">Trouvez les bons  <span class="text-yellow">partenaires</span>
                </div>
                <div class="mb-5">
                    <p>Donnez un nouvel élan à votre vie professionnelle en trouvant la formation ou le service qu'il vous faut pour réussir votre reconversion.</p>
                </div>
                
                <div class="container mx-auto max-w-5xl text-gray mb-5">

                    <form (ngSubmit)="onSearch()" class="my-4 flex flex-col lg:flex-row items-center" novalidate="novalidate">
                        <div class="flex flex-col w-full justify-center bg-white/30 rounded-xl px-5 py-2">
                          <div class="flex flex-col lg:flex-row items-center w-full lg:mb-5">
                            <!-- Input pour la recherche de domaine -->
                            <div class="relative w-full mb-4 lg:mb-0 mx-2">
                              <label class="text-sm lg:text-base required text-base text-white font-bold block" for="search">Votre recherche</label>
                              <input type="search" id="search" name="search" [(ngModel)]="searchText" (input)="searchAutocomplete()" class="w-full p-2.5 lg:py-4 lg:px-2 border border-gray-light/50 rounded focus:border-yellow focus:ring-1 focus:ring-yellow" placeholder="nom
                              ">
                              <div class="shadow-gray-light/10 shadow-md bg-white absolute top-[65px] lg:top-[80px] left-0 w-full z-30" *ngIf="autocompleteResults.length > 0">
                                <ul>
                                  <li *ngFor="let item of autocompleteResults" (click)="selectPme()" class="element_item border border-blue/30 border-b-gray-light/30 border-t-0 px-2.5 py-2 text-sm cursor-pointer">
                                    {{ item.Nom }}
                                  </li>
                                </ul>
                              </div>
                            </div>
                      
                            <!-- Input pour la recherche de lieu -->
                            <div class="relative w-full mb-6 lg:mb-0 mx-2">
                              <label class="text-sm lg:text-base required text-base text-white font-bold block" for="city">Lieu souhaité</label>
                              <input type="search" id="city" name="city" [(ngModel)]="searchCity" (input)="searchCityAutocomplete()" class="w-full p-2.5 lg:py-4 lg:px-2 border border-gray-light/50 rounded focus:border-yellow focus:ring-1 focus:ring-yellow" placeholder="Ville ou code postal">
                              <div class="shadow-gray-light/10 shadow-md bg-white absolute top-[65px] lg:top-[80px] left-0 w-full z-30" *ngIf="autocompleteResults.length > 0">
                                <ul>
                                  <li *ngFor="let item of autocompleteResults" class="element_item border border-blue/30 border-b-gray-light/30 border-t-0 px-2.5 py-2">
                                    {{ item.Localisation }}
                                  </li>
                                </ul>
                              </div>
                            </div>
                      
                            <!-- Sélection pour le critère de tri -->
                            <div class="relative w-full mb-6 lg:mb-0 mx-2">
                              <label class="text-sm lg:text-base required text-base text-white font-bold block" for="sortBy">Trier par</label>
                              <select id="sortBy" [(ngModel)]="sortBy" name="sortBy" class="w-full p-2.5 lg:py-4 lg:px-2 border border-gray-light/50 rounded focus:border-yellow focus:ring-1 focus:ring-yellow">
                                <option value="Nom">Nom</option>
                                <option value="ChiffreAffaire">Chiffre d'Affaires</option>
                                <option value="Effectif">Effectif</option>
                                <!-- Ajoutez d'autres options de tri selon vos besoins -->
                              </select>
                            </div>
                      
                            <!-- Sélection pour l'ordre de tri -->
                            <div class="relative w-full mb-6 lg:mb-0 mx-2">
                              <label class="text-sm lg:text-base required text-base text-white font-bold block" for="order">Ordre</label>
                              <select id="order" [(ngModel)]="order" name="order" class="w-full p-2.5 lg:py-4 lg:px-2 border border-gray-light/50 rounded focus:border-yellow focus:ring-1 focus:ring-yellow">
                                <option value="asc">Ascendant</option>
                                <option value="desc">Descendant</option>
                              </select>
                            </div>
                      
                            <!-- Bouton de soumission -->
                            <button type="submit" class="btn p-2 px-5 lg:mt-5 flex items-center w-full lg:w-auto mx-auto justify-center block_cta" data-type="homepage">
                                Rechercher
                            </button>
                          </div>
                        </div>
                      </form>
                      
                      <!-- Affichage des PMEs dans le template 
                      <div *ngIf="sortedPmes.length > 0">
                        <h2>Liste des PMEs Triées</h2>
                        <ul>
                          <li *ngFor="let pme of sortedPmes">
                            {{ pme.Nom }} - {{ pme.Type }} - {{ pme.Localisation }}
                          </li>
                        </ul>
                      </div>
                      
                      <div *ngIf="filteredPmes.length > 0">
                        <h2>Liste des PMEs Filtrées</h2>
                        <ul>
                          <li *ngFor="let pme of filteredPmes">
                            {{ pme.Nom }} - {{ pme.Type }} - {{ pme.Localisation }}
                          </li>
                        </ul>
                      </div>
                      
                      <div *ngIf="pmes.length > 0 && sortedPmes.length === 0 && filteredPmes.length === 0">
                        <h2>Liste des PMEs</h2>
                        <ul>
                          <li *ngFor="let pme of pmes">
                            {{ pme.Nom }} - {{ pme.Type }} - {{ pme.Localisation }}
                          </li>
                        </ul>
                      </div>
                      -->
                      
                      
                </div>
                <ul class="text-white text-sm flex flex-wrap items-center mb-4">
                    <li><a href="" title="Animaux" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Animaux</a></li>
                    <li><a href="" title="Artisanat" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Artisanat</a></li>
                    <li><a href="" title="Assistant médical" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Assistant médical</a></li>
                    <li><a href="" title="ATSEM" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">ATSEM</a></li>
                    <li><a href="" title="Comptabilité" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Comptabilité</a></li>
                    <li><a href="" title="Diagnostiqueur immobilier" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Diagnostiqueur immobilier</a></li>
                    <li><a href="" title="Formateur pour Adultes" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Formateur pour Adultes</a></li>
                    <li><a href="" title="Bien-être" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Bien-être</a></li>
                    <li><a href="" title="Métiers du coaching" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Métiers du coaching</a></li>
                    <li><a href="" title="Naturopathe" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Naturopathe</a></li>
                    <li><a href="" title="Sophrologue" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Sophrologue</a></li>
                    <li><a href="" title="Toiletteur canin" class="bg-white/30 rounded-xl px-4 py-1 m-1.5 inline-block hover:underline">Toiletteur canin</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Affichage dynamique des listes et des messages -->
<ng-container *ngIf="currentList">
    <!-- Affichage des PMEs par défaut -->
    <div class="container mt-4" *ngIf="currentList === 'default' && defaultPmes.length > 0">
      <h2>Les 4 premières PMEs par ordre alphabétique</h2>
      <div class="row">
        <div *ngFor="let pme of defaultPmes" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 color="success" class="card-title"><strong>Nom:</strong> {{ pme.Nom }}</h5>
              <h5 class="card-text"><strong>Activités:</strong> {{ pme.Type }}</h5> 
              <h5 class="card-text"><small class="text-muted"><strong>Localisation:</strong> {{ pme.Localisation }}</small></h5>
              <h5 class="card-text">
                  <span class="text-xs border border-gray rounded-full py-0.5 px-2 ml-4">
                      {{ pme.Email }}
                  </span>
              </h5>  
              
            <a class="btn cta my-4" title="Voir la formation CAP Boulanger à distance" data-type="home" routerLink="/pme/:{{ pme._id }}" data-customer="L'atelier des Chefs" data-service="CAP Boulanger à distance">Consulter</a>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Affichage des PMEs triées -->
    <div class="container mt-4" *ngIf="currentList === 'sorted' && sortedPmes.length > 0">
      <h2>PMEs Triées</h2>
      <div class="row">
        <div *ngFor="let pme of autocompleteResults" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 color="success" class="card-title"><strong>Nom:</strong> {{ pme.Nom }}</h5>
              <h5 class="card-text"><strong>Activités:</strong> {{ pme.Type }}</h5> 
              <h5 class="card-text"><small class="text-muted"><strong>Localisation:</strong> {{ pme.Localisation }}</small></h5>
              <h5 class="card-text">
                  <span class="text-xs border border-gray rounded-full py-0.5 px-2 ml-4">
                      {{ pme.Email }}
                  </span>
              </h5>  
              
            <a class="btn cta my-4" title="Voir la formation CAP Boulanger à distance" data-type="home" routerLink="/pme/:{{ pme._id }}" data-customer="L'atelier des Chefs" data-service="CAP Boulanger à distance">Consulter</a>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Affichage des PMEs filtrées -->
    <div class="container mt-4" *ngIf="currentList === 'filtered' && filteredPmes.length > 0">
      <h2>PMEs Filtrées</h2>
      <div class="row">
        <div *ngFor="let pme of autocompleteResults" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 color="success" class="card-title"><strong>Nom:</strong> {{ pme.Nom }}</h5>
              <h5 class="card-text"><strong>Activités:</strong> {{ pme.Type }}</h5> 
              <h5 class="card-text"><small class="text-muted"><strong>Localisation:</strong> {{ pme.Localisation }}</small></h5>
              <h5 class="card-text">
                  <span class="text-xs border border-gray rounded-full py-0.5 px-2 ml-4">
                      {{ pme.Email }}
                  </span>
              </h5>  
              
            <a class="btn cta my-4" title="Voir la formation CAP Boulanger à distance" data-type="home" routerLink="/pme/:{{ pme._id }}" data-customer="L'atelier des Chefs" data-service="CAP Boulanger à distance">Consulter</a>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Message si aucun résultat n'est trouvé -->
    <div class="container mt-4" *ngIf="noResults">
      <h2>Aucun résultat trouvé</h2>
      <p>Nous n'avons trouvé aucune PME correspondant à votre recherche.</p>
    </div>
  </ng-container>
  
  <!-- Affichage des PMEs sélectionnées 
  <div class="container mt-4" *ngIf="selectedPme">
    <h2>Détails de la PME Sélectionnée</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ selectedPme.Nom }}</h5>
        <p class="card-text">{{ selectedPme.Type }}</p>
        <p class="card-text">{{ selectedPme.Description }}</p>
        <p class="card-text"><small class="text-muted">{{ selectedPme.Localisation }}</small></p>
        <a href="{{ selectedPme.SiteWeb }}" class="btn btn-primary" target="_blank">Visiter le site</a>
      </div>
    </div>
  </div>-->
  

            <!-- Affichage des détails de la PME sélectionnée 
            <div class="container mt-4" *ngIf="selectedPme">
                <h2>Détails de la PME Sélectionnée</h2>
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ selectedPme.Nom }}</h5>
                    <p class="card-text">{{ selectedPme.Type }}</p>
                    <p class="card-text">{{ selectedPme.Description }}</p>
                    <p class="card-text"><small class="text-muted">{{ selectedPme.Localisation }}</small></p>
                    <a href="{{ selectedPme.SiteWeb }}" class="btn btn-primary" target="_blank">Visiter le site</a>
                </div>
                </div>
            </div>-->
  
  

            <!-- Affichage des PMEs dans le template -->

            
            
            
            
    </div>

        <!--
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Ventes quotidiennes</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span>  Augmentation des ventes d’aujourd’hui.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Abonnements par e-mail</h4>
                        <p class="card-category">Dernières performances de l'entreprise</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> envoyée il y a 2 jours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Tâches accomplies</h4>
                        <p class="card-category">Dernières performances de l'entreprise</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> envoyée il y a 2 jours
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
</div>
