
<div class="home-container">
    <body>
		<div class="container">
			<nav>
				<img src="" alt="" class="logo" />
				<ul>
					<li><a href="#">Accueil</a></li>
					<li><a href="">Portfolio</a></li>
					<li><a href="">Contact</a></li>
				</ul>
				<img src="" alt="" class="cart" />
			</nav>

			<section class="site-container">
				<p>Bienvenu à</p>
				<h1>NDIKINIMEKI</h1>
				<h4>EN APESANTEUR, VENEZ PROFITER DU CALME DE CHEZ NOUS...</h4>

				<div class="row">
					<a href="#">Prendre un rendez-vous</a>
					<a href="#">Voir les sites <span></span></a>
					<span>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />
						Nemo impedit eaque odit quaerat ullam quidem?
					</span>
				</div>
			</section>

            <section class="social-icons">
                <a href="#"><img src="" alt=""></a>
                <a href="#"><img src="" alt=""></a>
                <a href="#"><img src="" alt=""></a>
                <a href="https://drive.google.com/file/d/1u2ZQxyamKsgJ4JxO-kYbytfxaaEkOT_a/view?usp=sharing" target="_blank"><img src="" alt=""></a>
            </section>
		</div>
	</body>
</div>
